<div class="item-container" data-id=<%= packed_item.id %>>
  <%= image_tag "items/#{packed_item.picture}", class: "picture" %>
  <div class="space"></div>
  <p class="name"><%= packed_item.name %></p>
  <div class="space"></div>

  <!-- EDIT ITEM -->

  <%= render 'user/items/form', item: packed_item.item %>

  <!-- UNPACK ITEM -->

  <%= button_to 'unpack', user_packed_item_path(packed_item, params: { unpack: 'one', packed_item: packed_item, packed_bag: @packed_bag }), method: :delete, remote: :true, class: "item-action pack-item" %>

</div>
