<div class="item-container" data-packed-item=<%= packed_item.item.id %>>
  <%= image_tag "items/#{packed_item.picture}", class: "picture" %>
  <div class="space"></div>
  <p class="name"><%= packed_item.name %></p>
  <div class="space"></div>

  <!-- ITEM FORM (EDIT) -->

  <%= render 'user/items/form', item: packed_item.item, origin: 'packed_item' %>

  <!-- UNPACK ITEM -->

  <%= button_to 'unpack', user_packed_item_path(packed_item, params: { unpack: 'one', packed_item: packed_item, bag: @bag }), method: :delete, remote: :true, class: "item-action pack-item" %>

</div>
