<div class='col-4' data-item=<%= packed_item.id %>>

  <div class="packed-item-container item-container">

    <%= image_tag "items/#{packed_item.picture}", class: 'picture' %>
    <p class='name'><%= packed_item.name %></p>

    <%= simple_form_for [:user, packed_item] do |f| %>
      <%= f.input :category_filter, as: :hidden, input_html: { value: params[:category] } %>
      <%= f.input :display_filter, as: :hidden, input_html: { value: params[:display] } %>
      <%= f.input :packed_bag, as: :hidden, input_html: { value: packed_bag.id } %>

      <div class="input-with-unit">
        <input class="numeric integer required" value="<%= packed_item.size %>", name="item[size]" id="item_size" type="number" step="1" min="0" max="10000" >
        <div>
          <span>ml</span>
        </div>
      </div>
      <p data-error='size' class='input-error'></p>

      <div class="input-with-unit">
        <input class="numeric integer required" value="<%= packed_item.weight %>", name="item[weight]" id="item_weight" type="number" step="1" min="0" max="20000" >
        <div>
          <span>g</span>
        </div>
      </div>
      <p data-error='weight' class='input-error'></p>

      <input class="update-item" type="submit" name="commit" value="update" data-disable-with="update">

    <% end %>

    <%= button_to 'unpack', user_packed_item_path(packed_item, params: { category: params[:category], display: params[:display] }), method: :delete, class: 'unpack-item' %>
  </div>

</div>
