 <div class="category_filters">
  <%= link_to user_packed_bag_path(@packed_bag, params: {
  category:  0,
  direction: params[:direction],
  group:     params[:group] }),
  class: "" do %>
    <div class="category <%= 'category-selected' if params[:category].to_i.zero? %>">
      <%= image_tag "categories/all", class: "picture" %>
      <p>ALL</p>
    </div>
  <% end %>
  <% categories.each do |category| %>
    <% unless category.references.empty? %>
      <%= link_to user_packed_bag_path(@packed_bag, params: {
      category:  category.id,
      direction: params[:direction],
      group:     params[:group] }),
      class: "" do %>
        <div class="category <%= 'category-selected' if params[:category].to_i == category.id %>">
          <%= image_tag "categories/#{category.picture}", class: "picture" %>
          <p><%= category.name.upcase %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
