<% case @bag.loaded
    when 0
      load_color = 'load-gray';
      load_bg_color = 'load-bg-gray';
      load_arrow = 'load-arrow-gray';
    when 1..50
      load_color = 'load-green';
      load_bg_color = 'load-bg-green';
      load_arrow = 'load-arrow-green';
    when 51..71
      load_color = 'load-yellow';
      load_bg_color = 'load-bg-yellow';
      load_arrow = 'load-arrow-yellow';
    when 72..90
      load_color = 'load-orange';
      load_bg_color = 'load-bg-orange';
      load_arrow = 'load-arrow-orange';
    else
      load_color = 'load-red';
      load_bg_color = 'load-bg-red';
      load_arrow = 'load-arrow-red';
   end %>

<div class="load">
  <%= image_tag "bags/#{@bag.picture}", class: "picture" %>
  <div class="load-progress-details">
    <div class="load-progress-container">
      <div class="load-progress<%= ' ' << load_bg_color %>" style="height:<%= @bag.loaded < 100 ? @bag.loaded : 100 %>%;"></div>
      <div class="load-arrow-lead" style="bottom:<%= @bag.loaded < 100 ? @bag.loaded : 100 %>% ">
        <div class="load-arrow<%= ' ' << load_arrow %>"></div>
        <div class="load-details">
          <p class="#<%= ' ' << load_color %>">
            <strong><span><%= @bag.loaded %> %</span></strong>
            <span> (</span>
            <span class="liters"><%= @bag.load_in_liters %> liters</span>
            <span> and </span>
            <span class="kilos"><%= @bag.load_in_kilos %> kilos</span>
            <span>)</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
