<% if session[:operation] == 'create' %>
  <%= link_to user_bag_path(@bag, params: { operation: 'pack' }),
  remote: :true, class: "operation switch-to-pack" do %>
    <%= image_tag 'interface/pack.svg', class: 'picture' %>
    <p>Pack my bag</p>
  <% end %>
<% elsif session[:operation] == 'pack' %>
  <%= link_to user_bag_path(@bag, params: { operation: 'create' }),
  remote: :true, class: "operation switch-to-create" do %>
  <%= image_tag 'interface/create.svg', class: 'picture' %>
    <p>Add items to my collection</p>
  <% end %>
<% end %>
<%= link_to user_bags_path, class: "back-to-bags" do %>
  <p>
    or go back to my bags
    <i class="fas fa-chevron-right"></i>
  </p>
<% end %>
