<!-- reference, packed_item, packed_bag -->

<% remaining_items = reference.unpacked_items(current_user, packed_bag) %>

<div class="col-4 items-to-bottom" data-item=<%= reference.id %>>
  <div class="item-container <%= "empty-reference" if remaining_items.count.zero? && direction == 'pack' %>">
    <% if (current_user.reference_count(reference) && direction == 'create') || (remaining_items.count > 1 && direction == 'pack') %>
      <div class="item-container-behind"></div>
      <div class="item-container-behind"></div>
    <% end %>

    <%= image_tag "items/#{reference.picture}", class: 'picture' %>
    <div class="space"></div>
    <p class="name"><%= reference.name %></p>
    <% if direction == 'create' %>
      <p class="reference-count"><%= current_user.reference_count(reference) %></p>
    <% else %>
      <p class="reference-count-small">
        <span><%= current_user.reference_count(reference) - packed_bag.packed_reference_count(reference) %></span>
        <span> / </span>
        <span><%= current_user.reference_count(reference) %></span>
      </p>
    <% end %>

    <% unless remaining_items.empty? || direction == 'create' %>
      <%= simple_form_for [:user, packed_item] do |f| %>
        <%= f.input :pack_many, as: :hidden, input_html: { value: true } %>
        <%= f.input :category_filter, as: :hidden, input_html: { value: params[:category] } %>
        <%= f.input :direction_filter, as: :hidden, input_html: { value: params[:direction] } %>
        <%= f.input :group_filter, as: :hidden, input_html: { value: params[:group] } %>
        <%= f.input :packed_bag, as: :hidden, input_html: { value: packed_bag.id } %>
        <%= f.input :item, as: :hidden, input_html: { value: remaining_items.first.id } %>
        <%= f.input :reference, as: :hidden, input_html: { value: reference.id } %>
        <div class="submit-with-quantity">
          <input class="numeric integer required item-action-qty create-item" value="1" name="packed_item[quantity]" id="packed_item_quantity" type="number" step="1" min="1" max="<%= current_user.reference_count(reference) - packed_bag.packed_reference_count(reference) %>">
          <input class="item-action create-item" type="submit" name="commit" value="pack" data-disable-with="pack">
        </div>
        <p data-error='quantity' class='input-error'></p>
      <% end %>
    <% end %>

    <% if remaining_items.empty? && direction == 'pack' %>
      <div class="large-space"></div>
    <% end %>

    <% unless direction == 'pack' %>
      <%= button_to 'delete all', user_item_path(reference.items.first, params: {
        destroy_all: 'true',
        packed_bag:  packed_bag,
        category:    params[:category],
        direction:   params[:direction],
        group:       params[:group]
      }),
      method: :delete, class: "item-action delete-item" %>
    <% end %>

  </div>
</div>
