<!-- reference, packed_item, packed_bag -->

<div class='col-4' data-item=<%= reference.id %>>
  <div class="item-container">

    <%= image_tag "items/#{reference.picture}", class: 'picture' %>
    <p class='name'><%= reference.name %></p>
    <% if direction == 'create' %>
      <span><%= current_user.reference_count(reference) %></span>
    <% else %>
      <span><%= current_user.reference_count(reference) - packed_bag.packed_reference_count(reference) %></span>
      <span> / </span>
      <span><%= current_user.reference_count(reference) %></span>
    <% end %>

    <% remaining_items = reference.unpacked_items(current_user, packed_bag) %>
    <% unless remaining_items.empty? || direction == 'create' %>
      <%= simple_form_for [:user, packed_item] do |f| %>
        <%= f.input :pack_many, as: :hidden, input_html: { value: true } %>
        <%= f.input :category_filter, as: :hidden, input_html: { value: params[:category] } %>
        <%= f.input :direction_filter, as: :hidden, input_html: { value: params[:direction] } %>
        <%= f.input :group_filter, as: :hidden, input_html: { value: params[:group] } %>
        <%= f.input :packed_bag, as: :hidden, input_html: { value: packed_bag.id } %>
        <%= f.input :item, as: :hidden, input_html: { value: remaining_items.first.id } %>
        <%= f.input :reference, as: :hidden, input_html: { value: reference.id } %>
        <div class="submit-with-quantity">
          <input class="numeric integer required" value="1" name="packed_item[quantity]" id="packed_item_quantity" type="number" step="1" min="1" max="<%= current_user.reference_count(reference) - packed_bag.packed_reference_count(reference) %>">
          <input type="submit" name="commit" value="pack" data-disable-with="pack">
        </div>
        <p data-error='quantity' class='input-error'></p>
      <% end %>
    <% end %>

  </div>
</div>
