<div class="items-to-bottom" data-id=<%= packed_item.id %>>
  <div class="item-container">
    <%= image_tag "items/#{packed_item.picture}", class: "picture" %>
    <div class="space"></div>
    <p class="name"><%= packed_item.name %></p>
    <div class="space"></div>
    <p class="more"></p> <!-- rotate -->

    <%= simple_form_for [:user, packed_item.item] do |f| %>
      <%= f.input :pack_many, as: :hidden, input_html: { value: false } %>
      <%= f.input :category_filter, as: :hidden, input_html: { value: params[:category] } %>
      <%= f.input :direction_filter, as: :hidden, input_html: { value: params[:direction] } %>
      <%= f.input :group_filter, as: :hidden, input_html: { value: params[:group] } %>
      <%= f.input :packed_bag, as: :hidden, input_html: { value: @packed_bag.id } %>
      <div class="more-displayed"> <!-- display if more -->
        <div class="half-space"></div>
        <div class="input-with-unit">
          <input class="numeric integer required" value="<%= packed_item.size %>", name="item[size]" id="item_size" type="number" step="0.1" min="0" max="99" >
          <div>
            <span>L</span>
          </div>
        </div>
        <p data-error="size" class="input-error"></p>
        <div class="input-with-unit">
          <input class="numeric integer required" value="<%= packed_item.weight %>", name="item[weight]" id="item_weight" type="number" step="0.1" min="0" max="99" >
            <div>
              <span>K</span>
            </div>
          </div>
        <p data-error="weight" class="input-error"></p>
        <div class="space"></div>
      </div>
      <div class="more-displayed">
        <input class="item-action update-item" type="submit" name="commit" value="update" data-disable-with="update">
      </div>
    <% end %>
    <%= simple_form_for [:user, packed_item] do |f| %>
      <%= f.input :pack_many, as: :hidden, input_html: { value: false } %>
      <%= f.input :category_filter, as: :hidden, input_html: { value: params[:category] } %>
      <%= f.input :direction_filter, as: :hidden, input_html: { value: params[:direction] } %>
      <%= f.input :group_filter, as: :hidden, input_html: { value: params[:group] } %>
      <%= f.input :packed_bag, as: :hidden, input_html: { value: @packed_bag.id } %>
      <input class="item-action unpack-item" type="submit" name="commit" value="unpack" data-disable-with="unpack">
    <% end %>
  </div>
</div>
