<!-- reference, packed_bag -->

<div class='col-4' data-item=<%= reference.id %>>
  <div class="item-container">

    <% if packed_bag.packed_reference_count(reference) > 1 %>
      <div class="item-container-behind"></div>
      <div class="item-container-behind"></div>
    <% end %>

    <%= image_tag "items/#{reference.picture}", class: 'picture' %>
    <div class="space"></div>
    <p class='name'><%= reference.name %></p>
    <p class="reference-count-small">
      <span><%= packed_bag.packed_reference_count(reference) %></span>
      <span> / </span>
      <span><%= current_user.reference_count(reference) %></span>
    </p>

    <% unless reference.packed_items.empty? %>
      <% packed_item = reference.packed_items.select { |packed_item| packed_item.packed_bag == packed_bag }.first %>
      <%= simple_form_for [:user, packed_item] do |f| %>
        <%= f.input :unpack_many, as: :hidden, input_html: { value: true } %>
        <%= f.input :category_filter, as: :hidden, input_html: { value: params[:category] } %>
        <%= f.input :direction_filter, as: :hidden, input_html: { value: params[:direction] } %>
        <%= f.input :group_filter, as: :hidden, input_html: { value: params[:group] } %>
        <%= f.input :packed_bag, as: :hidden, input_html: { value: packed_bag.id } %>
        <div class="submit-with-quantity">
          <input class="numeric integer required item-action-qty unpack-item" value="1" name="packed_item[quantity]" id="packed_item_quantity" type="number" step="1" min="1" max="<%= packed_bag.packed_reference_count(reference) %>">
          <input class="item-action unpack-item" type="submit" name="commit" value="unpack" data-disable-with="unpack">
        </div>
        <p data-error='quantity' class='input-error'></p>
      <% end %>
    <% end %>

  </div>
</div>
