<% count = reference.items.select { |item| item.user == current_user }.count %>

<div class="item-img-container <%= 'owned' unless count.zero? %>">
  <%= image_tag "items/#{reference.picture}" %>
</div>

<div class="name-container">
  <p><%= reference.name %></p>
</div>

<div class="buttons">
  <%= render 'shared/remove_item', reference: reference %>
  <span class="count"><%= count %></span>
  <%= render 'shared/add_item', reference: reference %>
</div>
