<!-- LEFT PART: REFERENCES OR OWNED ITEMS -->
<% if side == 'left' %>

  <!-- REFERENCES -->
  <% if display == 'references_to_items' || display.nil? %>
    <p>Here are all the items you can create</p>
    <div class="container">
      <div class="row items-displayed">
        <% references.each do |reference| %>
          <%= render 'shared/item',
            card:       'reference',
            packed_bag: packed_bag,
            reference:  reference,
            item:       item
          %>
        <% end %>
      </div>
    </div>

  <!-- OWNED ITEMS -->
  <% elsif display == 'items_to_packed_items' %>
    <p>Here are all you owned items not already packed</p>
    <div class="container">
      <div class="row items-displayed">
        <% if group %>
          <% owned_references.each do |owned_reference| %>
            <%= render 'shared/items_group',
              card:        'item',
              packed_bag:  packed_bag,
              reference:   owned_reference,
              packed_item: packed_item
            %>
          <% end %>
        <% else %>
          <% owned_items.each do |owned_item| %>
            <% unless owned_item.packed?(packed_bag) %>
              <%= render 'shared/item',
                card:       'item',
                packed_bag: packed_bag,
                item:       owned_item
              %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

<!-- RIGHT PART: OWNED ITEMS OR PACKED ITEMS -->
<% elsif side == 'right' %>

  <!-- OWNED ITEMS -->
  <% if display == 'references_to_items' || display.nil? %>
    <p>Here are all you owned items</p>
    <div class="container">
      <div class="row items-displayed">
        <% if group %>
          <% owned_references.each do |owned_reference| %>
            <%= render 'shared/items_group',
              card:        'packed_item',
              packed_bag:  packed_bag,
              reference:   owned_reference,
              packed_item: packed_item
            %>
          <% end %>
        <% else %>
          <% owned_items.each do |owned_item| %>
            <%= render 'shared/item',
              card:       'item',
              packed_bag: packed_bag,
              item:       owned_item
            %>
          <% end %>
        <% end %>
      </div>
    </div>

  <!-- PACKED ITEMS -->
  <% elsif display == 'items_to_packed_items' %>
    <p>Here are all your items packed into the bag</p>
    <div class="container">
      <div class="row items-displayed">
        <% if group %>
          <% packed_references.each do |packed_reference| %>
            <%= render 'shared/items_group',
              card:        'packed_item',
              packed_bag:  packed_bag,
              reference:   packed_reference,
              item:        packed_item
            %>
          <% end %>
        <% else %>
          <% packed_items.each do |packed_item| %>
            <%= render 'shared/item',
              card:       'packed_item',
              packed_bag: packed_bag,
              item:       packed_item
            %>
          <% end %>
        <% end %>
      </div>
    </div>

  <% end %>
<% end %>
