<% loaded = (@packed_bag.loaded * 100).round %>
<% case loaded
    when 0..50 then loaded_color = '#6FCF97';
    when 51..71 then loaded_color = '#FDB631';
    when 72..90 then loaded_color = '#E67E22';
    when 91..100 then loaded_color = '#EE5F5B';
    else loaded_color = '#EE5F5B';
   end %>

<div class="load-container">
  <div class="load-progress">
    <div class="load-below">
      <div class="load-progress-bar" style="width:<%= loaded > 100 ? 100 : loaded %>%; background-color: <%= loaded_color %>">
        <% if loaded > 10 && loaded <= 100 %>
          <p class="load-percent"><%= loaded %> %</p>
        <% elsif loaded > 100 %>
          <p class="load-percent"><%= loaded %> % overload!</p>
        <% end %>
      </div>
    </div>
    <div class="load-above">
      <%
      if loaded > 100
        loaded < 125 ? loaded_over = (loaded - 100) * 4 : loaded_over = 100
      else
        loaded_over = 0
      end
      %>
      <div class="load-progress-bar" style="width:<%= loaded_over %>%;"></div>
    </div>
  </div>
  <div class="load-weight">
    <p><%= @packed_bag.weight.round(2) %> K</p>
  </div>
</div>

<hr>
