<h1><%= @packed_bag.name %></h1>

<%= render 'user/packed_bags/packed_items' %>

<hr>

<%= render 'user/packed_bags/filter_by_category',
  categories: @categories
%>

<hr>

<%= render 'user/packed_bags/display_toggle' %>

<hr>

<div id="displayed-items">
  <%= render 'user/packed_bags/displayed_items',
    packed_bag:   @packed_bag,
    references:   @references,
    owned_items:  @owned_items,
    packed_items: @packed_items,
    display:      params[:display],
    item:         @item,
    packed_item:  @packed_item
  %>
</div>


