<%= render 'user/packed_bags/navbar', categories: @categories %>

<!-- REFERENCES TO ITEMS -->

 <!-- +----------------+----------------+
      |                |                |
      |   references   |      items     |
      |                |                |
      +----------------+----------------+ -->

<!-- ITEMS TO PACKED ITEMS -->

 <!-- +----------------+----------------+
      |                |                |
      |      items     |  packed_items  |
      |                |                |
      +----------------+----------------+ -->

<div class="navbar-space"></div>

<div id="packed-bag-wrapper">
  <div id="displayed-items">
    <% if @ope == 'create' || @ope.nil? %>
      <div id="references">
        <%= render 'user/packed_bags/cards/display_references' %>
      </div>
    <% else %>
      <div id="items_to_pack">
        <%= render 'user/packed_bags/cards/display_items_to_pack' %>
      </div>
    <% end %>
  </div>
  <div class="wrapper-separator"></div>
  <div id="displayed-items">
    <% if @ope == 'create' || @ope.nil? %>
      <div id="items-created">
        <%= render 'user/packed_bags/cards/display_items_created' %>
      </div>
    <% else %>
      <div id="packed-items">
        <%= render 'user/packed_bags/cards/display_packed_items' %>
      </div>
    <% end %>
  </div>
</div>
