<%= link_to 'back to journey', user_journey_path(@packed_bag.journey) %>

<hr>

<h1><%= @packed_bag.name %></h1>

<%= render 'user/packed_bags/load_details' %>

<hr>

<%= render 'user/packed_bags/filter_by_category',
  categories: @categories
%>

<hr>

<%= render 'user/packed_bags/display_toggle' %>

<hr>

<div id="packed-bag-wrapper">

  <div id="displayed-items-left">
    <%= render 'user/packed_bags/displayed_items',
      side:         'left',
      display:      params[:display],
      packed_bag:   @packed_bag,
      references:   @references,
      owned_items:  @owned_items,
      packed_items: @packed_items,
      item:         @item,
      packed_item:  @packed_item
    %>
  </div>

  <div class="wrapper-separator"></div>

  <div id="displayed-items-right">
    <%= render 'user/packed_bags/displayed_items',
      side:         'right',
      display:      params[:display],
      packed_bag:   @packed_bag,
      references:   @references,
      owned_items:  @owned_items,
      packed_items: @packed_items,
      item:         @item,
      packed_item:  @packed_item
    %>
  </div>

</div>




