<%= render 'user/packed_bags/load_details' %>
<%= render 'user/packed_bags/filters/category', categories: @categories %>
<%= render 'user/packed_bags/filters/direction' %>

<!-- REFERENCES TO ITEMS -->

 <!-- +----------------+----------------+
      |                |                |
      |   references   |      items     |
      |                |                |
      +----------------+----------------+ -->

<!-- ITEMS TO PACKED ITEMS -->

 <!-- +----------------+----------------+
      |                |                |
      |      items     |  packed_items  |
      |                |                |
      +----------------+----------------+ -->

<div id="packed-bag-wrapper">
  <div id="displayed-items">
    <% if params.key?(:direction) == false || params[:direction].blank? || params[:direction] == 'create' %>
      <%= render 'user/packed_bags/cards/references' %>
    <% elsif params[:direction] == 'pack' %>
      <%= render 'user/packed_bags/cards/items_to_pack' %>
    <% end %>
  </div>
  <div class="wrapper-separator"></div>
  <div id="displayed-items">
    <% if params.key?(:direction) == false || params[:direction].blank? || params[:direction] == 'create' %>
      <div id="items-created">
        <%= render 'user/packed_bags/cards/items_created' %>
      </div>
    <% elsif params[:direction] == 'pack' %>
      <%= render 'user/packed_bags/cards/packed_items' %>
    <% end %>
  </div>
</div>
