<div class="item-container" data-item=<%= item.id %>>
  <%= image_tag "items/#{item.picture}", class: "picture" %>
  <p class="name"><%= item.name %></p>
  <p class="details details-refresh"></p>

  <!-- ITEM FROM (EDIT) -->

  <%= render 'user/items/form', item: item, origin: 'item' %>

  <!-- PACK ITEM(S) -->

  <%= button_to 'pack', user_packed_items_path(params: { pack: 'one', item: item, bag: @bag }), method: :post, remote: :true, class: "item-action pack-item" %>

</div>
