<div class='col-4' data-item=<%= owned_item.id %>>

  <div class="owned-item-container item-container">

    <%= image_tag "items/#{owned_item.picture}", class: 'picture' %>
    <p class='name'><%= owned_item.name %></p>

    <%= simple_form_for [:user, owned_item] do |f| %>
      <%= f.input :category_filter, as: :hidden, input_html: { value: params[:category] } %>
      <%= f.input :display_filter, as: :hidden, input_html: { value: params[:display] } %>
      <%= f.input :packed_bag, as: :hidden, input_html: { value: packed_bag.id } %>

      <div class="input-with-unit">
        <input class="numeric integer required" value="<%= owned_item.size %>", name="item[size]" id="item_size" type="number" step="1" min="0" max="10000" >
        <div>
          <span>ml</span>
        </div>
      </div>
      <p data-error='size' class='input-error'></p>

      <div class="input-with-unit">
        <input class="numeric integer required" value="<%= owned_item.weight %>", name="item[weight]" id="item_weight" type="number" step="1" min="0" max="20000" >
        <div>
          <span>g</span>
        </div>
      </div>
      <p data-error='weight' class='input-error'></p>

      <input class="update-item" type="submit" name="commit" value="update" data-disable-with="update">

    <% end %>

    <%= button_to user_item_path(owned_item, params: { packed_bag: packed_bag.id, category: params[:category], display: params[:display] }), method: :delete, class: 'delete-item' do %>
      delete
    <% end %>

    <%= button_to 'pack', user_packed_items_path(params: { item: owned_item.id, packed_bag: packed_bag.id, category: params[:category], display: params[:display] }), method: :post, class: 'pack-item' %>
  </div>

</div>
