<div data-journey=<%= journey.id %>>
  <p class="name"><%= journey.name.upcase %></p>
  <p class="location"><%= journey.name.upcase %></p>
  <div class="buttons">
    <%= button_to 'select', user_journey_path(journey), method: :get, class: 'select' %>
    <%= button_to 'delete', user_journey_path(journey), method: :delete, class: 'delete' %>
  </div>
</div>
