<%= image_tag "bags/#{bag.picture}", class: "bag-picture" %>
<div class="name"><%= bag.name %></div>
<hr>
<%= render 'user/bags/form_update', bag: bag %>
<hr>
<div class="details">
  <small>Actual load: <%= bag.loaded.*100.round(0) %> %</small>
</div>
<hr>
<%= button_to 'open', user_bag_path(bag),  method: :get, class: "open" %>
<%= button_to 'delete', user_bag_path(bag), method: :delete, class: "delete" %>
<%= button_to 'copy', user_bag_copy_path(bag),  method: :get, class: "copy" %>



