<div class="bag">
  <%= image_tag "bags/#{bag.picture}", class: "bag-picture" %>
  <div class="name"><%= bag.name %> <small><%= bag.capacity %>'</small></div>
  <div class="details">
    <small><strong>Current load: <%= bag.loaded %> %</strong></small><br>
    <small><%= bag.packed_items_count %> packed items</small><br>
    <small><%= bag.load_in_liters %> / <%= bag.capacity %> liters</small>
    <small> and </small>
    <small><%= bag.load_in_kilos %> kilos</small>
  </div>
  <div class="bag-actions">
    <%= button_to 'open', user_bag_path(bag),  method: :get, class: "open" %>
    <%= button_to 'copy', user_bag_copy_path(bag),  method: :get, remote: :true, class: "copy" %>
    <%= button_to 'delete', user_bag_path(bag), method: :delete, remote: :true, class: "delete" %>
  </div>
  <hr>
  <%= render 'user/bags/form_update', bag: bag %>
</div>
