<div id="packed-items">
  <div class="cards-indication">
    <p class="cards-indication">
    Here are the items you’ve packed in this bag
    <%= " in category" unless session[:category].to_i.zero? %>
    <strong><%= session[:category_name] unless session[:category].to_i.zero? %></strong>
  </p>
    <hr>
    <% if @packed_items.empty? %>
      <div class="no-items-alert" role="alert">
        <p>
          Oh! It looks like you haven’t packed any item yet…
          <%= " or that you haven't pack any items from the " unless session[:category_name].nil? %>
          <strong><%= session[:category_name] unless session[:category_name].nil? %></strong>
          <%= " category" unless session[:category_name].nil? %>
          ...
        </p>
        <p>Select items in your collection to put them in this bag!</p>
        <p>Select <strong>Add items to my collection</strong> (on the top left) if you need to expand your collection.</p>
        <p>You can pack several similar items at a time.</p>
      </div>
    <% end %>
  </div>

  <% if @bag.packed_items.any? && session[:category].to_i.zero? %>
    <%= button_to 'unpack all', user_packed_item_path(@bag.packed_items.first, params: { unpack: 'all', bag: @bag }), method: :delete, remote: :true, class: 'item-action item-action-all unpack-all-item' %>
  <% else %>
    <div class="button-substitute"></div>
  <% end %>
  <div class="items-container">
    <% if session[:display] == "group" %>
      <% @packed_references.sort_by { |reference| reference.name }.each do |packed_reference| %>
        <%= render 'user/packed_items/packed_item_by_reference', reference: packed_reference %>
      <% end %>
      <%= render 'user/bags/cards/shadow_cards' %>
    <% else %>
      <% @packed_items.each do |packed_item| %>
        <%= render 'user/packed_items/packed_item', packed_item: packed_item %>
      <% end %>
      <%= render 'user/bags/cards/shadow_cards' %>
    <% end %>
  </div>
</div>
