<div class="cards-indication">
  <p>
    Here is your items collection
    <%= " in the " unless session[:category].to_i.zero? %>
    <strong><%= session[:category_name] unless session[:category].to_i.zero? %></strong>
    <%= " category" unless session[:category].to_i.zero? %>
    </p>
  <hr>
  <% if @owned_items.empty? %>
    <div class="alert-message alert-message-red" role="alert">
      <p>
        Oh! It looks like you don't have any items
        <%= " in the " unless session[:category].to_i.zero? %>
        <strong><%= session[:category_name] unless session[:category].to_i.zero? %></strong>
        <%= " category" unless session[:category].to_i.zero? %>
        ...
      </p>
      <p>Select items on the left to add them to your collection!</p>
      <p>You can custom their features (volume and weight) and add several similar items at a time.</p>
      <p>Once your collection is finished, select <strong>Pack my bag</strong> (on the top right)!</p>
    </div>
  <% end %>
</div>

<div class="items-container">
  <% if session[:display] == 'group' %>
    <% @owned_references.each do |reference| %>
      <%= render 'user/items/item_created_by_reference', reference: reference %>
    <% end %>
    <%= render 'user/bags/cards/shadow_cards' %>
  <% else %>
    <% @owned_items.each do |item| %>
      <%= render 'user/items/item_created', item: item %>
    <% end %>
    <%= render 'user/bags/cards/shadow_cards' %>
  <% end %>
</div>
